# PostgreSQL Database
DATABASE_URL="postgresql://postgres:YourStrongLocalPassword2024@localhost:5432/postgres"

# Redis Database
REDIS_URL=redis://localhost:6379

# Next Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-me-with-at-least-32-char-random-string


# GitHub OAuth App
AUTH_GITHUB_ID=your-github-client-id
AUTH_GITHUB_SECRET=your-github-client-secret

# Google OAuth App
AUTH_GOOGLE_ID=your-google-client-id
AUTH_GOOGLE_SECRET=your-google-client-secret

JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long